# Operating System Files

*.DS_Store
Thumbs.db
*.sw?
.#*
*#
*~
*.sublime-*

# Build Artifacts

.gradle/
build/
target/
bin/
dependency-reduced-pom.xml

# Eclipse Project Files

.classpath
.project
.settings/

# IntelliJ IDEA Files

*.iml
*.ipr
*.iws
*.idea

.vscode/
README.html
.vagrant/machines/default/virtualbox/action_provision
.vagrant/machines/default/virtualbox/action_set_name
.vagrant/machines/default/virtualbox/box_meta
.vagrant/machines/default/virtualbox/creator_uid
.vagrant/machines/default/virtualbox/id
.vagrant/machines/default/virtualbox/index_uuid
.vagrant/machines/default/virtualbox/private_key
.vagrant/machines/default/virtualbox/synced_folders
.vagrant/machines/default/virtualbox/vagrant_cwd
.vagrant/rgloader/loader.rb
